---
import MainLayoult from "../layouts/MainLayoult.astro";
import Header from "../components/layout/Header/Header.astro";
import Footer from "../components/layout/Footer/Footer.astro";
import QuoteFormSection from "../components/sections/ServicesDetail/QuoteFormSection.astro";
import { servicosDetalhes } from "../data/servicos-detalhes";
import { getServiceNameBySlug } from "../enums/services";

const url = Astro.url;
const serviceParam = url.searchParams.get("servico");
const emailParam = url.searchParams.get("email");

const preselectedService = getServiceNameBySlug(serviceParam ?? undefined);
const prefilledEmail = emailParam ?? undefined;
---

<MainLayoult>
  <Header />
  <main>
    <QuoteFormSection
      tagline={servicosDetalhes.quote.tagline}
      title={servicosDetalhes.quote.title}
      description={servicosDetalhes.quote.description}
      serviceTypes={servicosDetalhes.quote.serviceTypes}
      preselectedService={preselectedService}
      prefilledEmail={prefilledEmail}
    />
  </main>
  <Footer />
</MainLayoult>

<style>
  main {
    padding-top: 5rem;
    min-height: 100vh;
    background-color: var(--background-dark);
  }
</style>
