---
import type { NavLinkProps } from "../types/components";

export type Props = NavLinkProps;

const { label, path, target } = Astro.props as Props;
const rel = target === "_blank" ? "noopener noreferrer" : null;
---

<a href={path} target={target} rel={rel}>
  {typeof label === "string" ? label : <img src={label.src} alt={label.alt} />}
</a>

<style>
  a {
    text-decoration: none;
    color: var(--tema-texto-escuro-primario);
    font-size: var(--tamanho-fonte-texto-apoio);
  }

  a img {
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
